body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    background-color: #007BFF;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

.collapsible h3 {
    cursor: pointer;
}

.content {
    display: none;
    margin-left: 20px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.experience-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f8f9fa;
}

.experience-table th, .experience-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.experience-table th {
    background-color: #007bff;
    color: white;
}

.experience-table td ul {
    padding-left: 20px;
}

.experience-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.experience-table tr:hover {
    background-color: #ddd;
}
